body{
    background:url('stars.jpg') center  no-repeat;
    background-size:3840px 2160px;
}
@font-face{
    font-family:"Starjedi";
    src: url("Starjedi.ttf");
}
@font-face{
    font-family:"Starjhol";
    src: url("Starjhol.ttf");
}
h1{ 
    font-family: "Starjhol";
    font-size: 230%;
    margin-left: 35%;
    color: rgb(238, 255, 0);
}
p{
    padding: 0px;
    margin: 0px;
    margin-left: 35%;
    margin-right: 10%;
    margin-top: -35%;
    color: rgb(219, 253, 28);
    font-family:"Starjedi";
    font-size: 125%;
    animation-duration: 30s;
    animation-name: slidein;
    
  }

  @keyframes slidein {
    from {
      margin-top: 20%;
      transform:rotateX(60deg);
    }

    to {
      margin-top: -35%;
      transform:rotateX(0deg);
    }
  }
    .titulo{
        border: solid;
        border-color: rgb(95, 255, 148);
        margin-right: 78%;
        background-color:rgb(82, 26, 26);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 130%;
        color: rgb(14, 148, 25);}
    .cuadro1{
        border: solid;
        border-color: rgb(95, 255, 148);
        
        margin-right: 78%;
        background-color:rgb(51, 1, 1);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: rgb(24, 253, 120);
    }
    .cuadro2{
        border: solid;
        border-color: rgb(95, 255, 148);
        
        margin-right: 78%;
        background-color:rgb(230, 102, 43);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: rgb(0, 0, 0);
    }