body{
    background:url('stars.jpg') center  no-repeat;
    background-size:3840px 2160px;
}
@font-face{
    font-family:"Starjedi";
    src: url("Starjedi.ttf");
}
@font-face{
    font-family:"Starjhol";
    src: url("Starjhol.ttf");
}
h1{ 
    font-family: "Starjhol";
    font-size: 200%;
    margin-left: 40%;
    color: rgb(238, 255, 0);
}
p {
    padding: 0px;
    margin: 0px;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: -15%;
    color: rgb(219, 253, 28);
    font-family:"Starjedi";
    font-size: 130%;
    animation-duration: 45s;
    animation-name: slidein;
    
  }

  @keyframes slidein {
    from {
      margin-top: 20%;
      transform:rotateX(60deg);
    }

    to {
      margin-top: -12%;
      transform:rotateX(0deg);
    }
  }
  }
  div {
    padding-right: 20px;
    padding-left: 20px;
    margin: 25px;
    color: chartreuse;
    font-size: large;
    }
    .grogu{
        border: solid;
        border-color: rgb(248, 248, 248);
        
        margin-right: 78%;
        background-color:rgb(0, 0, 0);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: chartreuse;
    }