body{
    background: url("fondo.jpg");
    color: aqua;
}
.div1{
    width: fit-content;
    height: 459px;
    margin-left: 60%;
    margin-top: -22.3%;
    border: darkblue 5px solid;
    border-radius: 1%;
}
.div2{
    width: fit-content;
    height: 459px;
    margin-top: 10%;
    margin-left: 10%;
    border: crimson 5px solid;
    border-radius: 1%;

}
.div3{
    margin-left: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: crimson;
}
.original{
    margin-top: 5%;
    margin-left: 21%;
    color: darkcyan;
}
.manipulada{
    margin-top: -3%;
    margin-left: 71%;
    color: darkcyan;
}
